#stuff{
    background-color: bisque;
}

.image1 {
    width: 5%;
    height: 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    height: 800px;
}

.image2 {
    height: 350px;
    width: 550px;
    border-radius: 75%;
}
#foul{
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(93,95,99,1) 58%,
    rgba(83,97,118,1) 69%, rgba(56,103,171,1) 100%);
    color: seashell;
    font-size: 27px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

textarea.foulbrood{
    width: 400px;
    height: 80px;
    background-color: #fff;
    resize: none;
}

button.foulbrood{
    width: 100px;
    height: 30px;
    background-color: darkgray;
    border: none;
    color: #fff;
    font-family: arial, serif;
    font-weight: 400;
    margin-bottom: 50px;
}

#beetle{
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(93,95,99,1) 58%,
    rgba(83,97,118,1) 69%, rgba(56,103,171,1) 100%);
    color: seashell;
    font-size: 27px;
}

#varroa{
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(93,95,99,1) 58%,
    rgba(83,97,118,1) 69%, rgba(56,103,171,1) 100%);
    color: seashell;
    font-size: 27px;
}

#state{
    background-color: slategray;
}

/* unvisited link */
a:link {
    color: white;
    font-size: 2em;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

#statePrograms {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.comment-box{
    width: 815px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: white;
    border-radius: 4px;
    color: black;
    position: relative;
}


.comment-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;

}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button {
    width: 40px;
    height: 25px;
    color: #282828;
    background-color: #fff;
    opacity: 0.7;
}

.edit-form button:hover {
    opacity: 1.0;

}

.delete-form {
    position: absolute;
    top: 0;
    right: 60px;
}

.delete-form button {
    width: 40px;
    height: 25px;
    color: #282828;
    background-color: #fff;
    opacity: 0.7;
}

.delete-form button:hover {
    opacity: 1.0;

}
